@import url("font/stylesheet.css");

body {
    text-align: center;
    font-family: "coolveticaregular", Helvetica, sans-serif;
    background-color: #180b3e;
    color: #e0e0e2;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    max-width: 70vw;
    margin-bottom: min(2rem, 5vw);
}

.title {
    text-transform: uppercase;
    font-size: max(min(1.7rem, 4vw), 1.2rem);
}

.subtitle {
    text-transform: uppercase;
    margin-top: min(2rem, 5vw);
    opacity: 0.6;
    font-size: max(min(1.2rem, 3vw), 1rem);
}

.button-replace-me {
    margin-top: min(2rem, 5vw);
    padding: 0.6rem 1.5rem;
    border: solid 2px #e0e0e2;
    cursor: pointer;
    font-size: max(min(1.2rem, 3vw), 1rem);
}

.button-replace-me:hover {
    background-color: #e0e0e2;
    color: #180b3e;
}

.body {
    padding: 2rem 20vw;
}

.pipe {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-35%, -25%);
}

.pipe-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: -1;
}
