@import url("font/stylesheet.css");

body {
    text-align: center;
    font-family: "coolveticaregular", Helvetica, sans-serif;
    background-color: #180b3e;
    color: #e0e0e2;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.logo {
    width: 400px;
    max-width: 50vw;
    margin-bottom: 5rem;
}

.subtitle {
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 0.8em;
}

.button-replace-me {
    margin-top: 2rem;
    padding: 0.6rem 1.5rem;
    border: solid 2px #e0e0e2;
    cursor: pointer;
}

.button-replace-me:hover {
    background-color: #e0e0e2;
    color: #180b3e;
}

.body {
    padding: 20vw;
}

.pipe {
    position: absolute;
    background-image: url("img/roura1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-35%, -25%);
}

.pipe-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: -1;
}
